
* {
	margin:0;
	padding:0;
}

body  {
	font-family: 'Belgrano', serif;
	font-size: 14px;
	background: url(../images/old_wall.png) repeat;
	color: #2b2b2b;
	text-shadow: 0px 0px, 1px 1px #ffffff;
}

a {
	color:#1a66a1;
	text-decoration:underline;
}

p {
	line-height:140%;	
}   

h1 {
	font-size:40px;
	padding-top: 30px;
    border-bottom: 1px solid #1a66a1;
    margin-bottom: 25px; 
}

.h1-logo{
    margin-bottom: 0px; 
}

h2 {
	font-size:24px;
	color:#1a66a1;
	font-family: 'Lobster', sans-serif;
}

h3 {
	font-size:23px;
    color:#4a4a4a;
	font-family: 'Lobster', sans-serif;
    margin-bottom: 20px;    
}

.container { 
	width: 960px;
	margin: 0 auto;
    margin-top: 60px;
}

.wrapper {
    max-width: 960px;
    padding: 0px 0px;
    margin-: 0px auto;
    overflow: auto;
}

.container .wrapper h3 {
    font-size:23px;
    color:#4a4a4a;
    margin-top: 20px;
    border-bottom: 1px solid #4a4a4a;
}


.content {
    max-width: 640px;
    float: left;
}

.content p{
    padding-bottom: 20px;   
}

.sidebar {
    max-width: 260px; 
    float: right;  
}

.sidebar h1{
    padding-top: 48px;
    font-size: 26px;
}

.menu-sidebar{
    background: #e8e8e8;
}

.menu-sidebar li
{	
	padding: 12px 60px 12px 6px;
    list-style: none;
    width: 0px auto;
    border-bottom: 1px solid #1a66a1;
}


.menu-sidebar #ultimo
{	
    border-bottom: none;
}

.menu-sidebar li a{
    margin: 10px 20px;
	font-size:16px;
	font-family: 'Berlano', sans-serif;
	text-decoration:none;
	color:#2b2b2b;		
    border-bottom: 1px;
}

.menu-sidebar li a:hover{
	text-decoration: none;
	text-shadow:none;
    border-bottom: 1px solid #2b2b2b;
}



.double-border  {
    max-width: 628px;
    border: 3px solid #ddd;
    padding: 3px; /*Inner border size*/
    background: #847878; /*Inner border color*/  
    margin: 20px auto;
}





/* Formulario */

.FieldObj {
    margin-top: 5px;
}

.formulario {
    text-align: center;
}

#nombre-formulario {
    width: 500px;
    text-align: left;
    margin-left: auto;
}

#email-formulario {
    width: 500px;
    text-align: left;
    margin-left: 16px;
}

#asunto-formulario {
    width: 500px;
    text-align: left;
    margin-left: 7px;
    height: 80px;
}

#enviar-formulario {
    width: 60px;
    margin-top: 10px;
    text-align: center;
    margin-left: 0px;
}

.btn {
    width: 80px;
    cursor: pointer;
    margin: 0px auto;
    border-radius: 15px;
    font-family: Arial;
    text-shadow: none;
    color: #ffffff;
    font-size: 20px;
    background: #ff8c00;
    padding: 5px 35px 5px 35px;
    text-decoration: none;
}

.btn:hover {
    background: #ff981a;
    color: black;
    text-decoration: none;
}


/* Tabla precios Inscripción */
.tablaInscripcion {
    border: 1px solid black;
    text-align: center;
    width: 400px;
    margin: 0px auto;
    border="1"; 
    style="width:100%";
}





/* DISEÑO CABECERA ESTÁTICA */

header {
    background-image: none;
    background-position: left top;
    background-size: auto auto;
    background-attachment: scroll;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    padding: 10px 0px;
    border-bottom: 2px solid #E3E3E3;
    background-color: #FFF;
}

header .wrapper {
    max-width: 980px;
    padding: 0px 0px;
    margin: 0px auto;
}


header #logo h1 a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 900;
    font-size: 0px;
}

#img-logo {
    height: 50px;
}

img.logo {
    height: 37px;
}

.site-title {
    display: none;
}

header .site-tagline {
   font-family: 'Quattrocento Sans', sans-serif;
	font-size: 21px;
	color:#2b2b2b;
	text-decoration:none;
    line-height: 50px;
    margin-right: 10px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    float: left;
    margin: 0px 30px;
}

header .site-tagline a{
    text-decoration: none;
    color: black;
}

header h1 {
	float:left;
	padding:0px 0 0 0;
}

header h1 a {
	font-family: 'Quatrocento sans ', sans-serif;
	font-size: 21px;
	color:#2b2b2b;
	text-decoration:none;
}

header span {
	color:#1a66a1;
}



/******************************************/



#googleMap {
    height: 420px;
    width: 640px; 
    margin: 30px auto;
}


/******************************************/

.footerTop {
    margin-top: 30px;
	height:2px;
} 
.footerBottom {
	height:2px;
}
.footerBody {
	background-color: rgba(0,0,0,0.95);
	color:#dddddd;
	text-shadow:none;
}

.footerContent {
	width:960px;
	margin: 0 auto;
	padding:20px 0;
} 

.footerBody h2 {
    font-size:40px;
	color:#86753d;
	font-family: 'Lobster', sans-serif;
    padding-top: 20px;
    text-align: center;
}

.copyright p {
	text-align:center;
	padding:10px;
}
.socialIcons ul {
	list-style-type: none;
	width: 100%;
	text-align: center;
}
.socialIcons li { 
	display: inline; 
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}








/*--------------------------------------------------------------------------------------------*/
/********* Menú horizontal header ********/
/*--------------------------------------------------------------------------------------------*/

.navcontainer {
	float:right;
	padding:15px 0 0 0;
}


.sddm
{	
    margin: 0;
	padding: 0;
	z-index: 30;
}

.sddm #active {
    color: #fff;
	text-decoration: none;
	text-shadow:none;
	background:#1a66a1;
}

.sddm li
{	
	list-style: none;
	float: left;
    width: auto;
}


.sddm li a
{	
    padding: 10px 20px;
	font-size:17px;
	font-family: 'Berlano', sans-serif;
	text-decoration:none;
	color:#2b2b2b;		
    border: 1px hidden #1a66a1;
}

.sddm li a:hover
{	
    color: #fff;
	text-decoration: none;
	text-shadow:none;
	background:#1a66a1;
}

.sddm div
{	
    position: absolute;
	visibility: visible;
	margin-top: 10px;
	background: white;
	border: 1px solid #1a66a1;
}

.sddm div a
{	
    position: relative;
    display: block;
    width: auto;
    white-space: nowrap;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size:14px;
	font-family: 'Berlano', sans-serif;
}

.sddm div a:hover
{	
    background:#1a66a1;
    color: #FFF;
}



/*--------------------------------------------------------------------------------------------*/
/********* begin SLIDER ********/
/*--------------------------------------------------------------------------------------------*/
.slider { 
	width:956px;
	position: relative; 
	z-index:1;
    padding-top: 20px;
    margin: auto;
}
.flexslider {
	margin: 0;
}
.flexslider .slides > li {
	display: none; 
	list-style:none;
} 
.flexslider .slides img {
	max-width: 100%; 
	display: block; 
	box-shadow: 0px 5px 4px 0px #808080;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "."; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
/* control Nav */
.flex-control-nav {
	position:relative;
    display: -moz-grid-line;
    display: -webkit-inline-box;
	left:7px;
}
.flex-control-nav li { 
	display: block;
	padding:0 0 5px 0; 
	margin-right:1px;
}
.flex-control-nav li a {
	display:block;
	background:url(../images/pagination.png) 0 0 no-repeat; 
	width:40px; 
	height:30px; 
	text-indent:-5000px;
}
.flex-control-nav li a:hover,.flex-control-nav li a.active { 
	background-position:0 -31px; 
	cursor:pointer;
}


/*--------------------------------------------------------------------------------------------*/
/********* end SLIDER ********/
/*--------------------------------------------------------------------------------------------*/
/********* begin MEDIA QUERIES ********/
/*--------------------------------------------------------------------------------------------*/
/* for 980px or less */
@media screen and (max-width: 960px) {
	.container {
		width: 98%;
	}
	.leftList {
		width: 70%;
	}
	.rightList {
		width: 29%;
	}
	.slider {
		width:99.6%;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	header h1 {
    	float: left;
		padding: 45px 0 0 10px;
	}
	header h1 a {

	}
	.rightList {
		width: 90%;
		padding:0 20px;
		float:none;
	}
	.leftList {
		margin:0;
		padding:0 20px;
		width: 90%;
	}
	.slider {		
		margin:0px 0 80px 0;
	}
	.flex-control-nav { 
		position:absolute; 
	}
	#navcontainer {
		float:right;
		padding:60px 10px 0 0;
	}
	#navlist li {
		display: inline;
		list-style-type: none;
	}
	.boxes li {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0px 5px 4px 0px #808080;
		width:auto;
		float:none;
		margin:0 16px 20px 16px;
		list-style:none;
	}
	.boxes li:hover {
		margin:0 16px 20px 16px;
	}
	.footerContent {        
		width:auto;
	}
	header .headerContainer {
		width: auto;
	}
	.boxes li img {
		text-align:center;
	}
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	header h1 {
    	float: none;
		padding: 25px 20px 0 0;
	}
	.slider {
		margin-bottom:0px;
	}
	.rightList {
		width: 80%;
		padding:0 20px;
		float:none;
	}
	.leftList {
		margin:0;
		padding:0 20px;
		width: 80%;
	}
	.flex-control-nav { 
		position:absolute; 
	}
	#navcontainer {
		float:none;
		padding:0;
	}
	#navlist li {
		display: block;
		text-align:center;
	}
	#navlist a { 
		padding: 0 10px;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}

/*--------------------------------------------------------------------------------------------*/
/********* end MEDIA QUERIES ********/
/*--------------------------------------------------------------------------------------------*/



/****** Tabla Programa **********/


.tablaPrograma{
	border-collapse:collapse;
	border-spacing:10;
    margin-top: 10px;
    width: 99%;
    background-color: white;
    text-shadow: none;
    cellpadding="7";
    cellspacing="0";
}

.tablaPrograma .title{
    padding-top: 10px;
    margin: 0px auto;
    text-align: center;  
    border-bottom: 1px solid #1a66a1;
    margin-bottom: 10px;
}

.tablaPrograma .break{
    padding-top: 10px;
    margin: 0px auto;
    text-align: center;  
    margin-bottom: 10px;
}

.tablaPrograma td 
{
    border: 1px solid #E3E3E3; 
    padding: 0cm 0.19cm 0cm 0.2cm; 
    width: 124px;
}

.tablaPrograma .impar {
    border: 2px solid #E3E3E3; 
    padding: 0cm 0.19cm 0cm 0.2cm; 
    width: 124px; 
    vertical-align: middle; 
    background-color: rgb(84, 100, 118);
}

.tablaPrograma .hora {
    text-align: center;
}

.dia-tabla{
    padding-top: 20px;
    color: black;
}

.dia {
    text-align: center;  
    padding-bottom: 0px;
    background-color: transparent;
}


.tablaPrograma .impar p{
    color: white;    
}

.tablaPrograma td p{
    margin-top: 0.15cm;
    margin-bottom: 0.15cm;
}

.tablaPrograma td p b{
    line-height: 15px; 
    orphans: 2; 
    widows: 2;
    text-decoration: underline;
    cursor: pointer;
}









.slider_patrocinadores{
	width:389px;
	height:140px;
	padding:20px;
	border:1px solid gray;
    margin-top: 30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    background: black;
    margin: 0 auto;
}
.slider_patrocinadores .image-slider-wrapper{
	overflow: hidden;
}
.slider_patrocinadores #image_slider{
	position: relative;
	overflow: hidden;
	left:0;
}
.slider_patrocinadores #image_slider li{
	position:relative;
	position:relative;
	float:left;
	list-style: none;
    padding-left: 20px;
    padding-right: 20px;
	left: 0;
}



#ponencia {
    z-index: 10;
    position: absolute;
    top:  0px; 
    left: 0px;
    visibility: hidden;
    width: 560px;
    height: 400px;
    background: #fafafa;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #E3E3E3; 
}


#texto-ponencia {
    max-width: 320px;
    margin: 20px; 
    margin-top: -5px;
    float: left;
}

.h3ponencia {
    margin: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.h3ponencia span{
    font-size: 23px;
    font-weight: bold;
}

#texto-ponencia p{
    font-size: 13px;
    margin-bottom: 10px;
    text-indent: 0.5cm;
    text-align : justify;
}

#context-menu {
    max-width: 180px;    
    margin-right: 20px;
    float: right;
}

#context-menu h4{
    font-size: 12px;
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
}

#context-menu p{
    cursor: pointer;
    text-decoration: underline;
}

.menu-ponencias{
    background: #e8e8e8;
    border: 1px solid #E3E3E3;
}

.menu-ponencias li
{	
	padding: 6px;
    list-style: none;
    border-bottom: 1px solid #1a66a1;
    min-width: 165px;
    margin-right: 20px;
}

#cerrar
{
    float: right;
    top: 0px;
    margin: 10px;
    cursor: pointer;
}


.actividad
{
    margin-bottom: 50px;
}

.actividad h2
{
       
}